.divider{
    display: flex;
    width: 100%;
    height: auto;
    color: var(--title-colorOne);
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    text-align: center;

        h2{
            font-family: "MontBold";
            font-size: 1.6rem;
            margin-bottom: -12px;
        }
        p{
            font-family: "MontRegular";
            font-size: 1.2rem;
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 50px;
            margin-bottom: 0px;
        }
}

.line {
    display: inline-block;
    width: 20px; 
    height: 1.5px; 
    background-color: var(--title-colorOne); 
  }

  @media (max-width: 768px){

    .divider{

        h2{
            font-size: 1.3rem !important;
            margin-bottom: -8px !important;
        }
        p{
            font-size: 0.8rem !important;
        }
    }

  }