.card {
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    border: solid var(--foreground);
    transition: transform 0.3s ease-in-out;
    margin-top: 25px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .techContainer {
    display: flex;
    width: 80%;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
  }
  
  .tech {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--title-colorOne);
    border: solid var(--foreground);
  }
  
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date {
    font-size: 14px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: white;
    padding: 6px 12px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .buttonContainer{
    width: 100px;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }
  .button:hover {
    background: var(--background);
  }

  .privateButton {
    background-color: #d3d3d3;
    color: #808080; 
    pointer-events: none; 
  }

  @media (max-width: 768px){
    .card{
      width: 300px;
    }
  }
  