.divider{
    display: flex;
    width: 100%;
    height: 4rem;
    margin-top: 10px;
    color: var(--background);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 320% 320%;
    animation: backgroundShift 12s ease infinite;

        .h2{
            font-family: "MontBold";
            font-size: 2rem;
            margin-bottom: -15px;
        }
        .p{
            font-family: "MontRegular";
            font-size: 1.1rem;
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }
}

.line {
    display: inline-block;
    width: 20px; 
    height: 4px;  
  }

  @media (max-width: 768px){

    .divider{
        margin-bottom: -1px;
        .h2{
            font-size: 1.3rem !important;
            margin-bottom: -8px !important;
        }
        .p{
            font-size: 0.8rem !important;
        }
    }

  }
  
/* Animação */
@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}