@import "tailwindcss";

@font-face {
  font-family: 'MontRegular';
  src: url('/assets/Fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontMedium';
  src: url('/assets/Fonts/montserrat-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBold';
  src: url('/assets/Fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBlack';
  src: url('/assets/Fonts/mont-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #f1f1f1;     
  --subbackground: #c1761a;
  --subbackgroundgradient: #dddbdb;  
  --subbackgroundgradientorange: #aa6919;  
  --details: #636363;    
  --black: #686868;          
  --title-colorOne: #f1f1f1;
  --title-colorTwo: #c1761a; 
}



body {
  background: linear-gradient(270deg, var(--background), var(--subbackgroundgradient), var(--background));
  background-size: 320% 320%;
  animation: backgroundShift 12s ease infinite;
}

/* Animação */
@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


html {
  scroll-behavior: smooth;
}

