.controller{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.paragrafo{
    font-family: "MontRegular";
    font-size: 0.90rem;
    color: var(--title-colorOne);
    width: 50ch;
    margin-top: 15px;
}

@media (max-width: 768px){

}
