.header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  
  .navbar {
    margin-top: 20px;
    width: 400px;
    height: 35px;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: fixed;
    background-color: var(--title-colorTwo);
    top: 0;
    left: 515;
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    z-index: 10000;
  }
  
  .navList {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navLinkMobile{
    display: none;
    justify-self: center !important;
    text-decoration: none;
    font-family: "MontBold";
    position: relative;
    left: 20px;
    top: 5px;
    font-size: 1.3rem;
    color: var(--black);
    transition: color 0.3s ease-in-out;
  }
  
  .navbarMobile {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;

  }

  .navLink {
    display: inline-block;
    text-decoration: none;
    font-family: "MontBold";
    color: white;
    font-size: 13px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.10);
    }

  }

  .navItem {
    font-size: 10px;
  }
  
  
  .navLink:hover {
    color: var(--background);
  }
  
  @media (max-width: 768px){
    .navbar{
      display: none;
    }

    .navbarMobile{
      display: flex;
    }
    .navLinkMobile{
      display: flex;
    }
  }