.controller_responsive{
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;

        img{
            position: relative;
            top: 1.7rem;
        }
}

.container{
    display: flex;
    flex-direction: column;

        h2{
            font-family: "MontBlack";
            margin-bottom: -28px;
            font-size: 3rem;
            
        }
        h1{
            font-family: "MontBlack";
            font-size: 2rem;
            margin-bottom: 0px;
            color: var(--title-colorTwo);
        }
        p{
            font-family: "MontRegular";
            font-size: 0.8rem;
            width: 50ch;
            margin-bottom: 15px;
        }
}

@media (max-width: 768px){

}
