
.group_cards{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    margin-top: 23px;
}



@media (max-width: 768px){

    .group_cards{
        width: 98%;
    }

}
